html {
  color: aqua;
}
div,#text01 {
  color: brown;
}
@media screen and (max-width: 768px){
    #text01{
        font-size: 50px;
    }
}
div :hover {
    font-size: 70px;
}

em::after{content: "香蕉"; font-size: 5px; font-weight: bolder;
}